@font-face {
    font-family: "Davis";
    src: url("Davis/Davis-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "NKabel";
    src: url("Neue\ Kabel\ W01\ Bold.woff.ttf") format("ttf"),
    url("Neue\ Kabel\ W01\ Bold.woff.ttf") format("woff");
}
html {
    min-height: 100vh;
   
}
*{
    box-sizing: border-box;
}
body{
    margin: 400;
    background-color: rgb(22, 21, 22);
      
    
 
}


body, html {
    height: 60%;
    margin: 0;
    font-family: davis;
  }
  
 
  





.page-title {
    color: #E1B524;
    font-family: Davis, serif;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 0px;
    margin-block-end: 50px;
    font-size: 9em;
    font-variant-caps: all-petite-caps;
    font-style: bold;
    
   


}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
    
}
.game-info {
    font-family: NKabel, sans-serif;
    color: #242424;
    font-size: 4em;
    padding-bottom: 40px;
}
.j{

    width: 480px;
    height: 675px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: -30px;
    

   
}
.j:hover {
    
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card{
    position: relative;
    background-color: #14131;
    height: 449px;
    width: 329px;
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
   //<!--transition: transform 500ms ease-in-out;-->
}
.card-front {
    transform: rotateY(180deg);
}
.card:hover .card-back{
    transform: rotateY(-180deg);
}
.card:hover .card-front {
    transform: rotateY(0);
}

.card-value{
    transform: scale(.9)
}
.card-front:hover.card-value {
    transform: scale(1);
}
.france-pass{
    height: 449px;
    width: 329px;
    align-self: flex-start;
    transition: transform 100ms ease-in-out;
}
.H{
    height: 449px;
    width: 329px;
    align-self: flex-start;
    transition: transform 100ms ease-in-out;
    opacity: 0.5;
}
.card:hover .card-back{
    transform: hover;
}

.card:hover .card-front{
    transform: hover;
}

@media (max-width: 600px) {
    .game-container{
        grid-template-columns: repeat(2,auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}
footer {
    text-align: center;
    padding: 100px;
    background-color: #14131;
    color: white;
    font-family: NKabel, sans-serif;
  }
  